header{
    border: 5px solid black;
    background-color: #973ab7;
    text-align: center;
    padding: 50px;
    font-size: x-large;

}
li{
    background-color: #ffffff;
    color: white;
    
}
h1{
    font-size: 77px;
}
h2{
    color: white;
    padding: 30px;
    border-radius: 20px;
    border: white;
    background-color: #973ab7;
    
}
li{
    display: inline-block;
    padding: 20;
    border-radius: 30px;
    text-align: center;
}
body{
    font-family:"lato" ;
    background-color: burlywood;
    font-size: large;
}


body{
    border: 1px solid red;
    margin: 5px;
}

